<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/style/all.css" />
</head>

<body>

<!-- nav -->

<nav class="navbar d-f jc-sb jc-c--mobile ai-c px22 px12--pad px0--mobile">
  <h1 class="logo"><a href="index.html">Glasses</a></h1>
  <a class="ham-menu-trigger d-n d-b--mobile" href="#">
    <img src="./assets/img/ic_menu_24px.svg" />
  </a>
  <ul class="ham-menu w100--mobile d-f fxd-c--mobile">
    <li class="mr16 mr0--mobile">
      <a class="d-b fz5" href="#">
        系列鏡框
      </a>
    </li>
    <li class="mr16 mr0--mobile">
      <a class="d-b fz5" href="#">
        門市據點
      </a>
    </li>
    <li class="mr16 mr0--mobile">
      <a class="d-b fz5" href="#">
        部落格
      </a>
    </li>
    <li>
      <a class="d-b fz5" href="faq.html">
        常見問題
      </a>
    </li>
  </ul>
</nav>

<%- contents %>

<!-- footer -->

<footer class="footer pt9 pb7 pt5--mobile pb6--mobile">
  <div class="container">
    <div class="link d-f mx9 mb6 mx0--pad">
      <div class="d-f fxd-c">
        <ul class="d-f d-n--mobile mb4">
          <li class="mr12 mr10--pad">
            <a class="d-b py3" href="index.html">
              首頁
            </a>
          </li>
          <li class="mr12 mr10--pad">
            <a class="d-b py3" href="#">
              系列鏡框
            </a>
          </li>
          <li class="mr12 mr10--pad">
            <a class="d-b py3" href="#">
              門市據點
            </a>
          </li>
          <li class="mr12 mr10--pad">
            <a class="d-b py3" href="#">
              門市據點
            </a>
          </li>
          <li>
            <a class="d-b py3" href="faq.html">
              常見問題
            </a>
          </li>
        </ul>
        <ul>
          <li class="link__phone d-f mb4 mb3--pad mb0--mobile">
            <img src="./assets/img/ic_phone_48px.svg" />
            <a class="fz9 fz5--pad fz4--mobile py1--mobile ml6 ml2--pad" href="tel:+0800-000-000">
              0800-000-000
            </a>
          </li>
          <li class="link__mail d-f mb6 mb7--pad">
            <img src="./assets/img/ic_mail_outline_24px.svg" />
            <a class="fz9 fz5--pad fz4--mobile py1--mobile ml3 ml2--pad" href="mailto:glasses@business.com">
              glasses@business.com
            </a>
          </li>
        </ul>
      </div>
      <ul class="link__social d-f ml-a">
        <li class="mr8 mr6--pad">
          <a class="d-b py3--pad py1--mobile" href="#">
            <img src="./assets/img/ic_social_fb.svg" />
          </a>
        </li>
        <li class="mr8 mr6--pad">
          <a class="d-b py3--pad py1--mobile" href="#">
            <img src="./assets/img/ic_social_ig.svg" />
          </a>
        </li>
        <li>
          <a class="d-b py3--pad py1--mobile" href="#">
            <img src="./assets/img/ic_social_line.svg" />
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright d-f fxw-w--mobile ai-c mx9 mx0--pad">
      <h2 class="logo d-n--pad d-b--mobile od1--mobile mt-a--mobile ml-a--mobile">
        <a href="index.html">
          Glasses
        </a>
      </h2>
      <p class="ml9 ml0--pad mb1--mobile">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="d-f fxd-c--mobile ai-fs--mobile ml-a ml0--mobile">
        <li class="mr15 mr6--pad">
          <a class="d-b py3 py1--mobile" href="#">
            隱私權政策
          </a>
        </li>
        <li>
          <a class="d-b py3 py1--mobile" href="#">
            服務條款
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="./assets/js/vendors.js"></script>
<script src="./assets/js/all.js"></script>

</body>
</html>
